body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #242424;
}

#cor-texto {
    color: #F26DF0;
}


.height {
    min-height: 50vh;
}

.my-list-elem {
    background: transparent !important;
    border: none !important;
    margin-left: 60px;
}

.list-group-ordered {
    list-style: decimal inside !important;
}

.list-group-item-ordered {
    display: list-item !important;
}

.color-picture {
    background: url(img/MBV_Billinda_Butcher_1.gif)center;

}

.accordion {
    --bs-accordion-btn-bg: #242424;
    --bs-accordion-active-bg: #242424;
    --bs-accordion-bg: #242424;
    --bs-accordion-active-color: #d9ea56;
    --bs-accordion-color: #F26DF0;
    --bs-accordion-border-color: #F26DF0;
    --bs-accordion-btn-focus-box-shadow: none;
}


.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:after {
    /*https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFC107'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.card {
    border: 2px solid #F26DF0;
    background-color: #242424;
}

/*https://www.shecodes.io/athena/4119-changing-the-color-of-bootstrap-card-borders*/
.card-header {
    border: 1px solid #F26DF0;
}

#popover-trigger {
    color: #F26DF0;
    /* Cor padrão (azul) para o ícone */
}

#popover-trigger:hover {
    color: #FFC107;
    /* Cor quando o cursor está sobre o botão */
}


/*
.accordion-button::after{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>')
}*/
/* @media screen and (max-width: 845px) {

    
} */

.custom-bg {
    background-color: #242424;
    /* Outros estilos, se necessário */
}

#btn-topzao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #413f3fa7;
    cursor: pointer;
    padding: 25px;
    border-radius: 4px;
}

body {
    overflow-x: hidden;
}

p {
    text-indent: 3ch;
}


/*
.main {
    margin-top: 110px; 
  }*/

/*
.accordion-body {
    background-color: #242424;
    color: #fff; 
}
*/