body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #242424;
}

#cor-texto {
    color: #F26DF0;
}


.height {
    min-height: 50vh;
}

.my-list-elem {
    background: transparent !important;
    border: none !important;
    margin-left: 60px;
}

.list-group-ordered {
    list-style: decimal inside !important;
}

.list-group-item-ordered {
    display: list-item !important;
}

.color-picture {
    background: url(../img/MBV_Billinda_Butcher_1.gif)center;

}

.accordion {
    --bs-accordion-btn-bg: #242424;
    --bs-accordion-active-bg: #242424;
    --bs-accordion-bg: #242424;
    --bs-accordion-active-color: #d9ea56;
    --bs-accordion-color: #F26DF0;
    --bs-accordion-border-color: #F26DF0;
    --bs-accordion-btn-focus-box-shadow: none;
}


.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:after {
    /*https://stackoverflow.com/questions/66335238/changing-the-color-arrow-in-bootstrap */

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFC107'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.card {
    border: 2px solid #F26DF0;
    background-color: #242424;
}

/*https://www.shecodes.io/athena/4119-changing-the-color-of-bootstrap-card-borders*/
.card-header {
    border: 1px solid #F26DF0;
}

#popover-trigger {
    color: #F26DF0;
    /* Cor padrão (azul) para o ícone */
}

#popover-trigger:hover {
    color: #FFC107;
    /* Cor quando o cursor está sobre o botão */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 767px) {
    p {
        margin-left: 1em;
    }

    nav li {
        margin-left: 1em;
    }

}

.custom-bg {
    background-color: #242424;
    /* Outros estilos, se necessário */
}

#btn-topzao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #413f3fa7;
    cursor: pointer;
    padding: 25px;
    border-radius: 4px;
}

html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #323232;
}

::-webkit-scrollbar-thumb {
    background-color: #FFC107;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b73fb5;
}
input[type=email]{
    border: none;
    background-color: #242424;
    border-bottom: #b73fb5 2px solid;
    box-shadow: none;
    outline: none;
    color: #F26DF0;
}

input[type=reset]{
    border-radius: 10px;
    background-color: #323232;
    color: #F26DF0;
}

#zoom:hover{
    transform: scale(1.1);
}

/*
.main {
    margin-top: 110px; 
  }*/